@import 'tailwindcss';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	gap: 20px;
}